//
// Logo Wrapping
// ==================================================




/*
  <div class="b-logo">
    <a class="b-link b-logo__link" href="/">
      <img class="b-icon b-logo__icon" src="//example.com/img/b-logo.png" alt=""/>
      <span class="b-logo__slogan">Trademark slogan</span>
    </a>
  </div>
*/




.b-logo
  margin: 20px
