//
// Page's Skeleton Blocks
// ==================================================




/*
  <html class="b-page">
  <body class="b-page__body">
    <div class="i-grid">
      Page content
    </div>
  </body>
  </html>
*/




// Page
// --------------------------------------------------


.b-page
  -ms-text-size-adjust: 100%
  -webkit-overflow-scrolling: touch
  -webkit-tap-highlight-color: lighten(bodyBackground, 75%)
  -webkit-text-size-adjust: 100%
  background: bodyBackground


.b-page__body
  -webkit-font-smoothing: antialiased
  color: textColor
  font-family: baseFontFamily
  font-size: baseFontSize
  font-weight: 300
  letter-spacing: -.05em
  line-height: baseLineHeight




// Grid system
// --------------------------------------------------


.i-grid
  margin: 0 auto
  max-width: gridWidth
  overflow: hidden
  width: 90%
