//
// Search form
// ==================================================




/*
  <form class="b-search">
    <fieldset class="b-search__layout">
      <div class="b-search__layout-input">
        <input class="b-search__input" type="text" name="text" value="Text"/>
      </div>
      <div class="b-search__layout-button">
        <input class="b-search__button" type="submit" value="Search"/>
      </div>
      <div class="b-search__layout-under">
        <a class="b-link" href="/">Advanced search</a>
      </div>
    </fieldset>
  </form>
*/




.b-search__input
  width: 100%
  margin: 0

  box-sizing: border-box


.b-search__button
  margin: 0


.b-search__layout-input
  width: 100%

  vertical-align: middle


.b-search__layout-button
  padding-left: 6px

  vertical-align: middle
