//
// Text block
// ==================================================




/*
  <div class="b-text">
    <h1 class="b-text__h1">Title h1</h1>
    <h2 class="b-text__h2">Title h2</h2>
    <h3 class="b-text__h3">Title h3</h3>
    <h4 class="b-text__h4">Title h4</h4>
    <p class="b-text__p">Paragraph(tag p)</p>
    <ul class="b-text__ul">
      <li class="b-text__li">Unordered list item</li>
      <li class="b-text__li">One more item of unordered list</li>
    </ul>
    <ol class="b-text__ol">
      <li class="b-text__li">Paragraph numbered list</li>
      <li class="b-text__li">Another item numbered list</li>
    </ol>
    <blockquote class="b-text__blockquote">The block is indented</blockquote>
    <pre class="b-text__pre">
      <code>
        $('#coffee').make({
          creamer: 'milk',
          sweetener: 'sugar'
        }).wakeup();
      </code>
    </pre>
  </div>
*/




.b-text__h1,
.b-text__h2,
.b-text__h3
    font-size: 1.8em
    font-weight: normal

    margin: 1.5em 0 0.7em 0
    padding: 0


.b-text__h3
    font-size: 1.6em

    margin: 1em 0 0.5em 0


.b-text__h4
    font-size: 1.4em
    font-weight: 400

    margin: 0.6em 0 0.5em 0
    padding: 0


.b-text__p
    margin: 0 0 0.8em

    line-height: 1.4em


.b-text__pre,
.b-text__tt
    font: 100% monoFontFamily


.b-text__pre
    margin: 0 0 0.8em


.b-text__ul,
.b-text__ol
    margin: 0 0 1em
    padding: 0


.b-text__li
    margin: 0 0.2em 0.3em 2.5em
    padding: 0


.b-text__ol .b-text__li
    list-style: decimal


.b-text__ul .b-text__li
    list-style: disc
