//
// Settings
// ==================================================




// Global values
// --------------------------------------------------


// Grays
black                 = #000
grayDark              = lighten(black, 25%)
grey                  = lighten(black, 50%)
grayLight             = lighten(black, 75%)
grayLighter           = lighten(black, 90%)
white                 = #fff


// Accent colors
blue                  = #049cdb;
blueDark              = #0064cd;
green                 = #46a546;
red                   = #9d261d;
yellow                = #ffc40d;
orange                = #f89406;
pink                  = #c3325f;
purple                = #7a43b6;


// Theme colors
baseColor             = #3498db
compColor             = invert(baseColor)


// Scaffolding
bodyBackground        = darken(white, 1%)
textColor             = lighten(black, 1%)


// Links
linkColor             = baseColor
linkColorHover        = darken(linkColor, 10)


// Typography
sansFontFamily        = 'Lato', 'Helvetica Neue', Helvetica, Arial, sansSerif
serifFontFamily       = Georgia, 'Times New Roman', Times, serif
monoFontFamily        = 'Inconsolata', Monaco, Menlo, Consolas, "Courier New", monospace

baseFontSize          = 16px
baseFontFamily        = sansFontFamily
baseLineHeight        = 1.5
altFontFamily         = serifFontFamily

headingsFontFamily    = inherit // empty to use BS default, baseFontFamily
headingsFontWeight    = 700 // instead of browser default, bold
headingsColor         = inherit // empty to use BS default, @textColor




// Grid
// --------------------------------------------------


gridWidth             = 1200px
gridColumns           = 12
